 body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-success h4 {
    color: #3c763d;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #3c763d;
}